<p id="notice"><%= notice %></p>

<h1>Listing Products</h1>

<div class="row">
  <div class="col-md-3">Name</div>
  <div class="col-md-3">Description</div>
  <div class="col-md-3">Image</div>
  <div class="col-md-3">Color</div>
</div>

<% @products.each do |product| %>
  <div class="row">
    <div class="col-md-3"><%= product.name %></div>
    <div class="col-md-3"><%= product.description %></div>
    <div class="col-md-3"><%= product.image_url %></div>
    <div class="col-md-3"><%= product.color %></div>
  </div>
  <div class="row">
    <div class="col-md-3"><%= link_to 'Show', product %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></div>
    <% end %>


<br>

<%= link_to 'New Product', new_product_path %>
